{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}

    {% if breed %}
        {{ breed.name }}
    {% endif %}

{% endblock %}



{% block body_block %}

    {% if breed %}

    <div class="container py-4">
  
      <div class="p-5 mb-4 bg-light rounded-5">
        <div class="container-fluid py-2"></div>
          <h1 class="display-5 fw-bold">{{ breed.name }}</h1>
          <p class="col-md-8 fs-4">{{ breed.description }}</p>


          <div class="container-fluid py-2">

            <div>
              <b><i>Followers:</i></b>
              <p id="follow_countb"> {{ breed.follows }} </p></div>
              <div class = "float-right">
              {% if user.is_authenticated %}

                {% if following %}
                {% else %}
                  <button id="fllw_btnb" data-breedid="{{ breed.id }}" class="btn btn-primary btn-sm" type="button">
                    Follow
                  </button>
                {% endif %}

              {% endif %}
              </div>
            </div>
          </div>
            
          </div>
       </div>
      </div>
  
      <hr>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Resources</h2>
            <p><ul>
              <li><a href="https://www.akc.org/dog-breeds/{{ breed.slug }}/">[American Kennel Club] Breed Information</a></li>
              <li><a href="https://www.pets4homes.co.uk/dog-breeds/{{ breed.slug }}/">[Pets4Homes] Breed Overview</a></li>

            </ul></p>
          </div>
        </div>

      
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Registered Dogs</h2>
            <p>
            {% if dogs %}
                <ul>
                    {% for dog in dogs %}
                        <li><a href="{% url 'rango:dog_profile' breed.slug dog.slug %}">{{ dog.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                There are no registered dogs for this breed.
            {% endif %}
            </p>
          </div>
        </div>
      </div>
  

    </div>

  {% else %}
  No breed found.
  {% endif %}


{% endblock %}



      <!---Button ref from template + others
        
        <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Resources</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
          </div>
        </div>

      
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Registered Dogs</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>
      </div>
        
      --->