{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Breeds

{% endblock %}

{% block bootstrap_element_override_block %}
<style>

    .col-1 {width: 28%}
    .col-2 {width: 28%}

    .card-img {
        object-fit: cover;
    }

    .col-md-6 {
        float: left;
        padding-bottom: 30px;
    }

    .container {
        background-color: ghostwhite;
    }

</style>
{% endblock %}



{% block body_block %}
<h1 id="categorytitle">
    Breeds 
</h1>
     {% if breeds %}
    <div class="row mb-2">
    
        {% for b in breeds %}
        <div class="col-md-6">
    
            <a href="{% url 'rango:breed_profile' b.slug %}">
                <div class="card bg-dark text-white">
                    <img id="main" class="card-img" src="{% static 'breed_content/breed_media/images/'|add:b.slug|add:'.jpg' %}" alt="{{ b.name }}">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ b.name }}</h5>
                        <p class="card-text">{{ b.follows }} followers</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %} No breeds registered. {% endif %}
{% endblock %}