{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}

    {% if breed %}
        {{ breed.name }}
    {% endif %}

{% endblock %}

{% block body_block %}

    {% if breed %}
        <h1>{{ breed.name }}</h1><br>
        <img scr="{{ breed.main_pic.url }}" alt="{{ breed.name }}" /><br>

        <p>

            {% if dogs %}
                <ul>
                    {% for dog in dogs %}
                        <li><a href="{% url 'rango:dog_profile' breed.slug dog.name_slug %}">{{ dog.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                No dogs of this breed registered.
            {% endif %}
            
        </p>


    {% else %}
        No breed found.
    {% endif %}

{% endblock %}