{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Breeds

{% endblock %}

{% block bootstrap_element_override_block %}
<style>

    .col-1 {width: 28%}
    .col-2 {width: 28%}
    .col-3 {width: 28%}

    .img {
        object-fit: cover;
    }

[class*="col-"] {
    float: left;
    padding: 15px;
}
</style>
{% endblock %}

{% block body_block %}

<h1><center><u>Breeds</u></center></h1><br>

    {% if breeds %}

        {% for b in breeds %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <div class="container">

                <div class="album py-7 bg-light">
                    <div class="col-md-6">
                        <a href = "{% url 'rango:breed_profile' b.slug %}">
                            <div class="card bg-dark text-white">
                                <img id = "main" class="card-img" src="{% static 'breed_content/breed_media/images/'|add:b.slug|add:'.jpg' %}" alt="Card image">
                                <div class="card-img-overlay">
                                <h5 class="card-title">{{ b.name }}</h5>
                                <p class="card-text">{{ b.follows }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}    

    {% else %}
        No breeds registered.
    {% endif %}

{% endblock %}