{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}

    {% if breed %}
        {{ breed.name }}
    {% endif %}

{% endblock %}

{% block body_block %}

    {% if breed %}
        <h1>{{ breed.name }}</h1><br>
        <img src="{% static 'images/breed_media/'|add:breed.slug|add:'.jpg' %}" alt="{{ breed.name }}" /><br>

        <p>
            {{ breed.description }}
        </p>

        <hr>

        <p>

            {% if dogs %}
                <ul>
                    {% for dog in dogs %}
                        <li><a href="{% url 'rango:dog_profile' breed.slug dog.name_slug %}">{{ dog.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                There are no registered dogs for this breed.
            {% endif %}
            
        </p>


    {% else %}
        No breed found.
    {% endif %}

{% endblock %}