{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    
    {% if dog %}
        {{ dog.name }}
    {% endif %}

{% endblock %}

{% block body_block %}

    {% if dog %}
        {% for d in dog %}

            <h1>{{ d.name }}</h1><br>

                <div>
                    {% if d.display_pic %}
                        <img src="{{ d.display_pic.url }}" alt="{{ breed.name }}" />
                    {% else %}
                        <img src="{% static 'images/dog_profile_display.jpg' %}" alt="{{ breed.name }}"/>
                    {% endif %}
                    <br>
                </div>

                <div>
                    {% if d.main_about %}
                        {{ d.main_about }}
                    {% else %}
                        This yapper hasn't got a biography yet.
                    {% endif %}
                </div>


                <div id='stats'>
                    <table>
                        <tr>
                            <td>Name </td>
                            <td>{{ d.name }}</td>
                        </tr>
                        <tr>
                            <td>Breed </td>
                            <td>{{ d.breed.name }}</td>
                        </tr>
                        <tr>
                            <td>Follows </td>
                            <td>{{ d.follows }}</td>
                        </tr>
                    </table>
                </div>

                <div id='achievements'>

                </div>

                <div id='files'>
                    
                </div>

                <div id='external'>
                    <p>
                        <a href="">Follow now!</a>
                        <a href="">Contact Owner</a>
                    </p>
                </div>

        {% endfor %}

    {% else %}
        Dog not found.
    {% endif %}

{% endblock %}