{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    
    {% if dog %}
        {{ dog.name }}
    {% endif %}

{% endblock %}

{% block body_block %}

    {% if dog %}

        {% for d in dog %}
            <h1>{{ d.name }}</h1><br>

                <table>
                    <tr>
                        <td>Name </td>
                        <td>{{ d.name }}</td>
                    </tr>
                    <tr>
                        <td>Breed </td>
                        <td>{{ d.breed.name }}</td>
                    </tr>
                    <tr>
                        <td>Follows </td>
                        <td>{{ d.follows }}</td>
                    </tr>
                </table>

        {% endfor %}

    {% else %}
        Dog not found.
    {% endif %}

{% endblock %}