{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{sport.name}}
{% endblock %}

{% block body_block %}
<!-- Title -->
<h1>{{sport.name}}</h1>

<div>
    {{sport.description}}
</div>

<div>
    Breed restrictions: {{sport.breed_restricitons}}<br>
</div>

<!-- Add competition list -->
<div>
    <h4> Competitions for this sport: </h4>
    {% if competitions %} 
        <ul>
        {% for competition in competitions %}
            <li> <a href="{% url 'rango:competition_name' competition.slug %}">{{ competition.name }}</a> </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no competitions present.</strong>
    {% endif %}
</div>

{% endblock %}