{% extends 'rango/base.html' %}
{% load staticfiles %}



<link href="../../../static/css/examples/grid/grid.css" rel="stylesheet">
{% block title_block %}
{% endblock %}

{% block body_block %}

<h2>{{ user_profile.user.username }}</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ MEDIA_URL}}{{ user_profile.picture }}" width="200" height="200" alt="user's pic"/>
        </div>
        <div class="col-md-4">
            <h3>Location</h3><br>
            <p>{{user_profile.location}}</p>
        </div>
        <div class="col-md-4">
            <h3>Bio</h3><br>
            <p>{{user_profile.bio}}</p>
        </div>
    </div>
</div>

<br><br><br>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Followed Dog</h2>
        <p>feck</p>
        <ul>
            {% for dog in user_profile.followed_dogs.all %}
                print(dog)
                <li><a href = "">{{ dog.name }}</a></li>
            {% endfor %} 
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Followed Breeds</h2>
        <p>this empty?</p>
        <ul>
            {% for breed in user_profile.followed_breeds.all %}
                print(breed)
                <li><a href = "{% url 'rango:breed_profile' b.slug %}">{{ breed.name }}</a></li> 
            {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Followed Sports</h2>
        <p>why</p>
        <ul>
            {% for sport in user_profile.followed_sports.all %}
            print(sport)
                <li><a href = "{% url 'rango:sports_name' sport.slug %}">{{ sport.name }}</a></li>
            {% endfor %} 
        </ul>
      </div>
    </div>

    <hr>

</div> <!-- /container -->

{% endblock %}