{% extends 'rango/base.html' %}
{% load staticfiles %}

<link href="../../../static/css/examples/grid/grid.css" rel="stylesheet">

{% block title_block %}
    {{user_profile.user.username}}
{% endblock %}

{% block greet_block %}
    Hello {{user_profile.user.username }}
 {% endblock %}

{% block body_block %}



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src = "{{MEDIA_URL}}{{user_profile.picture }}" style="height:300px; width:300px" alt="user profile picture" class="rounded-circle" >
        </div>
        <div class="col-md-4">
            <h2>Your Dogs</h2>
            <ul>
            {% if dog_list %}
            {% for dog in dog_list %}
            <li><a href = "">{{ dog.name }}</a></li>
            {% endfor %} 
            {% else %}
            <p>You do not have dogs</p>
            {% endif %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Followed Dog</h2>
            <ul>
            {% for dog in followed_dogs.all %}
                
                <li><a href = "">{{ dog.name }}</a></li>
            {% endfor %} 
            </ul>
            
        </div>
    </div>
</div>

<br>
<br>
<br>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Location</h3><br>
            <p>
                {% if user_profile.loc_image is None %}
                    No location given.
                {% else %}
                    <img src = "{{ user_profile.loc_image }}" style="height:300px; width:300px" >
                {% endif %}
            </p>
      </div>
      <div class="col-md-4">
        <h2>Followed Breeds</h2>
        <ul>
            {% for breed in followed_breeds.all %}
                <li><a href = "{% url 'rango:breed_profile' breed.slug %}">{{ breed.name }}</a></li> 
            {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Followed Sports</h2>
        <ul>
            {% for sport in followed_sports.all %}
                <li><a href = "{% url 'rango:sports_name' sport.slug %}">{{ sport.name }}</a></li>
            {% endfor %} 
        </ul>
      </div>
    </div>

    <hr>

</div> <!-- /container -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Bio</h3><br>
            <p>{{user_profile.bio}}</p>
            {{user_profile.slug}}
        </div>
        <div class="col-md-4">
           
        </div>
        <div class="col-md-4">
           
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Availabel Actions</h3><br>
            <div class="btn-group-vertical" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary" ><a href="{% url 'rango:edit' user_profile.user_slug %}">Edit profile</a></button>
                <button type="button" class="btn btn-secondary"><a href="{% url 'rango:add_dog' %}">Add dog</a></button>
                    <button type="button" class="btn btn-secondary"><a href="{% url 'rango:register_competition'%}" %}>Add competition</a></button>
                <button type="button" class="btn btn-secondary"><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></button>
              </div>
        </div>
        <div class="col-md-4">
           
        </div>
        <div class="col-md-4">
           
        </div>
    </div>
</div>

{% endblock %}