{% extends 'rango/base.html' %}

{% block title_block %}
Login
{% endblock %}
{% block greet_block %}
    Hello there
{% endblock %}
{% block body_block %}
<h1>Login</h1>
{% if user.is_authenticated %}

<p>you are already logged in</p>

{% else %}
<form method="post" action=".">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Log In" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<br>
<h2>Login using:</h2><br>
<ul> 
    <li><a href ="{% url 'social:begin' 'github' %}">GitHub</a><br></li>
    <li><a href ="{% url 'social:begin' 'facebook' %}">Facebook</a><br></li>
    <li><a href ="{% url 'social:begin' 'twitter' %}">Twitter</a><br></li>
    <li><a href ="{% url 'social:begin' 'google-oauth2' %}">Google</a><br></li>
</ul>

<p>
Not registered?
<a href="{% url 'registration_register' %}">Register here!</a>
</p>
{% endif %}
{% endblock %}