<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >
<ul>
    <li>
        <div class="profile">
            <label for="profile_img">User Pic</label>
            <p><img id="profile_img" src="../../media/cat.jpg" width="10%" height="10%"></p>
             
        </div>
    </li>
    <li>
        <div class="profile">
            <p>{{ user.username}}</p>
             
        </div>
    </li>
    <li>
        <div class="profile"> 
            <label for="bio"> User Bio </label>
            <p><textarea id="bio" name="bio" rows="10" cols="20" >{{ user.bio }}</textarea></p>
             
        </div>
    </li>
    
    <li>
        <div class="profile">
            <label for="location">User Location</label>
            <div id="location">HERE GOES the map</div>

        </div>
    </li>
</ul>