   
   #top_page {
    width:100%;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../images/black-dog.jpg');
    background-color: grey; 
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 50px;
    }
    #site_banner{
    margin-top: 80px;
    font-size: 80px;
    font-weight: bold;
    margin-left: 50px;    
    }
    div #sub_title{
    font-size: 45px;
    text-indent: 100px;  
    }

    #meme{
    width: 60%;
    height: 60%;
    padding-right: 60px;
    padding-left: 60px;
    }

    #categorytitle {

        font-family: 'Times New Roman', Times, serif;
        font-size: 70px; 
        font-weight: 500;
        color: black;

        padding: 70px 0;
        text-align: center;
    }

    #smallcategorytitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px; 
        font-weight: 500;
        color: black;
        

        padding: 70px 0;
        text-align: center;
    }

    #registertitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px; 
        font-weight: 500;
        color: black;
        
        padding-top: 240px ;
        text-align: center;

    }

    #cardtitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px; 
        font-weight: 500;
        color: gray;
        padding-top: 50px;
        text-align: center;
    }

    #dogprofilecardtitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px; 
        font-weight: 600;
        color: black;
        padding-top: 20px;
        padding-bottom: 0px;
        text-align: center;
    }

    #competitioncardbutton {
        padding-top: 60px;
    }

    #aboutpagetitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px; 
        font-weight: 500;
        color: black;

        padding-top: 50px;
        text-align: center;
    }

    #aboutpagetitletext {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: black;
        font-weight: 500;
        padding-bottom: 50px;
    }
